:root {
    --primery-font-family: "Roboto", sans-serif;
    --secondary-font-family: "Raleway", sans-serif;
    --active-font: #2196F3;
    --text-color-theme-dark: #FFFFFF;
    --main-text-color-theme-light: #757575;
    --secondary-text-color-theme-light: #212121;
}

body {
font-family: var (--primery-font-family);
}

.list {
list-style: none;
}

.link {
text-decoration: none;
}


/*============ START HEADER =============*/
.logo-link {
font-family: var(--secondary-font-family);
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;
/* identical to box height */
letter-spacing: 0.03em;
color: var(--active-font);
}
/*============ END HEADER ===============*/

/*============ START COMPONENTS =========*/
.nav-list-link-act {
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--secondary-text-color-theme-light);
}

.nav-list-link-act:hover,
.nav-list-link-act:focus {
color: var(--active-font); 
}


.contact-mail {
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--secondary-text-color-theme-light);
}

.contact-mail:focus,
.contact-mail:hover {
color: var(--active-font);    
}
/*============ START COMPONENTS ===========*/
/*============ START HERO ===============*/
/*============ END HERO =================*/

