:root {
    --main-font: #000000;
    --secondary-font: #FFFFFF;
    --active-font: #2196F3;

}


.list {
list-style: none;
}

.link {
text-decoration: none;
}


/*============ START HEADER =============*/
.logo-link {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    /* identical to box height */
    
    /*letter-spacing: 0.03em; 
    background-color: --active-font;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100%;
    background-image: linear-gradient(
        90deg,
        --active-font 20%,
         --main-font 80%
    );*/
}
/*============ END HEADER ===============*/

/*============ START COMPONENTS =========*/
.nav-list-link-act {
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--main-font);
}

.nav-list-link-act:hover,
.nav-list-link-act:focus {
color: var(--active-font); 
}


.contact-mail {
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--main-font);
}

.contact-mail:focus,
.contact-mail:hover {
color: var(--active-font);    
}
/*============ START COMPONENTS ===========*/
/*============ START HERO ===============*/
/*============ END HERO =================*/

